<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Dictionary Game</title>
        {% else %}
        <title>The Dictionary Game</title>
        {% endif %}
    </head>
    <body>
        <div>
            Dictionary Game:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('create_game') }}">New Game</a>
            <a href="{{ url_for('join_game') }}">Join Game</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>