{% extends "base.html" %}

{% block content %}
    <h1>Join Game</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="" method="post" novalidate>
        <p>
            {{ form.game_code.label }}<br>
            {{ form.game_code(size=32) }}
            {% for error in form.game_code.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}